* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* PRIMARY COLORS */
  --cyan: #66e2dc;
  --red: #fa7452;
  --orange: #ffb964;

  /* NEUTRAL COLORS */

  --white: #fcfaf9;
  --black: #191826;

  --radius: 0.75rem;
}

h1 {
  font-size: 5.5rem;
  line-height: 1;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.25rem;
}

body {
  background-image: url(/assets/bg-main-desktop.png);
  min-height: 100vh;
  font-family: "IBM Plex Sans";

  display: grid;
  margin: 0 10rem;
  overflow-x: hidden;
}

img {
  width: 100%;
  display: flex;
}

.bg-pattern-frame {
  position: absolute;
  z-index: -1;
  right: -50px;
  top: -50px;
}

.logo-frame {
  margin-top: 2rem;
  width: 125px;
}

.heading-container {
  width: 54rem;
}

.heading-container > h1 {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.heading-container > p {
  line-height: 1.5;
}

.bg-box {
  justify-self: center;
  margin-bottom: 13rem;
  width: 100%;
  max-width: 1152px;
  height: 37.5rem;
  margin-top: 20rem;
  background-color: var(--black);
  border-radius: var(--radius);
  position: relative;
}

.bg-pattern-2-frame {
  width: 20rem;
  position: absolute;
  left: 20rem;

  overflow: hidden;
}

.bg-pattern-2-frame > img {
  transform: translateY(-3rem);
}

.illustration-app-frame {
  width: 20rem;
  position: absolute;
  left: 5rem;
  bottom: 10rem;
}

.cta-card {
  background-color: var(--red);
  position: absolute;
  border-radius: var(--radius);
  width: 27.875rem;
  right: 5.3rem;
  top: 5rem;
  padding: 3rem;
  color: var(--white);

  display: flex;
  flex-flow: column nowrap;
}

.cta-card > p {
  margin-top: 1rem;
  line-height: 1.75;
  width: 95%;
}

.price {
  margin-top: 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
}

.price > span {
  font-size: 52px;
  font-weight: 700;
  margin-right: 1rem;
}

button {
  border: none;
  border-radius: var(--radius);
  padding: 1.25rem 0;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

.iOS-button {
  margin-bottom: 1rem;
  background-color: var(--black);
  color: var(--white);
}

.android-button {
  background-color: var(--white);
}

button > div {
  margin-right: 0.5rem;
}

footer {
  margin-bottom: 5rem;
  height: max-content;

  display: grid;
  grid-auto-flow: column;
}

footer > .logo-frame {
  margin: unset;
  align-self: start;
}

footer > p {
  font-size: 1rem;
  width: 23rem;
  line-height: 1.5;
}

footer span {
  font-weight: 700;
}

.social-media-container {
  place-self: center end;
  width: 8rem;

  display: flex;
  justify-content: space-around;
}
.social-media-icon-frame {
  width: 1.5rem;
}

@media only screen and (min-width: 1470px) {
}

@media only screen and (max-width: 1180px) {
  body {
    margin: 2rem;
  }
}

@media only screen and (max-width: 1050px) {
  .heading-container {
    width: 40rem;
  }
}

@media only screen and (max-width: 1050px) {
  .heading-container {
    width: 40rem;
  }
}

@media only screen and (max-width: 880px) {
  html {
    font-size: 0.85em;
  }

  .bg-pattern-frame {
    width: 20rem;
  }
}

@media only screen and (max-width: 720px) {
  .cta-card {
    right: 0;
  }
}

@media only screen and (max-width: 660px) {
  html {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 570px) {
  html {
    font-size: 0.7em;
  }

  .heading-container {
    width: 100%;
  }
}

@media only screen and (max-width: 510px) {
  html {
    font-size: 0.55em;
  }
  body {
    margin: 3rem 0;
  }

  p,
  footer > p {
    font-size: 16px;
  }

  button {
    padding: 1.75rem;
  }

  .heading-container,
  body > .logo-frame,
  footer {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .heading-container > p {
    width: 90%;
  }

  .bg-pattern-frame {
    display: none;
  }

  .bg-box {
    margin-bottom: 50rem;
  }

  .illustration-app-frame,
  .bg-pattern-2-frame {
    left: 50%;
    transform: translateX(-50%);
  }

  .bg-pattern-2-frame {
    width: 25rem;
  }

  .bg-pattern-2-frame > img {
    transform: unset;
  }

  .cta-card {
    position: relative;
    width: 100%;
    top: 32rem;
  }

  footer {
    grid-auto-flow: row;
    row-gap: 5rem;
  }

  footer > p {
    width: 100%;
  }

  .social-media-container {
    place-self: start;
    width: 50%;
  }

  .social-media-icon-frame {
    width: 30px;
  }
}
